<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profile</title>
</head>
<body class="bg-zinc-900">
    <div class="w-1/3 min-h-screen  text-white p-10">

        <h1 class="mb-4 ">Make Some Changes</h1>

        <form action="/update/<%= post._id %>" method="post">

            <textarea 
                class="px-3 w-full resize-none py-2 mb-5 block bg-transparent border-2 border-zinc-800 rounded-md outline-none"
                name="content"> <%= post.content %> </textarea>
                <input class="px-3 py-2 block bg-yellow-500 text-black rounded-md outline-none" type="submit" value="Update Post"> 
        </form>
       
    </div>
</body>

</html>